---
layout: default
---

<div>
<div class="blog-index">
  <div class="post">
    <div class="post_header">
      <div class="post_title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</div>
      <div class="post_date">{% include post/date.html %}{{ time }}</div>
    </div>
    <div class="post_body">
      {{ content }}
    </div>
    <div class="post_footer">
      <div class="post_author">
        Post author: <span class="post_author_name">{{ post.author }}</span>
      </div>
    </div>
  </div>
</div>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
